*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial,sans-serif;
background:#0F172A;
color:white;
line-height:1.6;
}

html{
scroll-behavior:smooth;
}

.main-logo{
    width: 400px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 30px;
}

.hidden{
opacity:0;
transform:translateY(40px);
transition:all .8s ease;
}

.show{
opacity:1;
transform:translateY(0);
}

.navbar{

position:fixed;
top:0;
left:0;
width:100%;

padding:20px 8%;

display:flex;
justify-content:space-between;
align-items:center;

background:rgba(15,23,42,.8);
backdrop-filter:blur(10px);

z-index:1000;
}

.nav-links{
display:flex;
gap:30px;
}

.nav-links a{
color:white;
text-decoration:none;
}

.hero{
height:100vh;
background:url("../img/hero.jpg") center/cover;
position:relative;
display:flex;
align-items:center;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:linear-gradient(
90deg,
rgba(15,23,42,0.95),
rgba(15,23,42,0.35)
);
}

.hero-content{
position:relative;
z-index:2;
width:90%;
max-width:1400px;
margin:auto;
display:flex;
justify-content:space-between;
align-items:center;
}

.hero-text{
max-width:600px;
}

.hero-text h1{
font-size:5rem;
margin-bottom:20px;
}

.hero-text p{
font-size:1.4rem;
margin-bottom:30px;
}

.hero-logo img{
max-width:220px;
}

.buttons{
display:flex;
gap:15px;
flex-wrap:wrap;
}

.download-box p{
margin:15px 0 25px 0;
}

.section p{
margin:20px 0;
}

.btn{
padding:15px 30px;
border-radius:10px;
text-decoration:none;
font-weight:bold;
transition:.3s;
}

.btn-primary{
background:#F97316;
color:white;
}

.btn-primary:hover{
transform:translateY(-3px);
}

.btn-secondary{
background:#1E293B;
color:white;
}

.section{
padding:80px 10%;
}

.section h2{
font-size:2.5rem;
margin-bottom:30px;
}

.description{
max-width:900px;
}

.features{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:#1E293B;
padding:30px;
border-radius:15px;
text-align:center;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:20px;
}

.gallery img{
width:100%;
cursor:pointer;
border-radius:10px;
transition:.3s;
}

.gallery img:hover{
transform:scale(1.03);
}

.video-wrapper{
position:relative;
padding-bottom:56.25%;
height:0;
}

.video-wrapper iframe{
position:absolute;
width:100%;
height:100%;
}

.requirements{
display:flex;
gap:50px;
flex-wrap:wrap;
}

.download-box{
background:#1E293B;
padding:40px;
border-radius:15px;
max-width:500px;
}

footer{
padding:50px;
text-align:center;
background:#111827;
}

#modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.9);
justify-content:center;
align-items:center;
z-index:999;
}

#modal-img{
max-width:90%;
max-height:90%;
}

#close{
position:absolute;
top:30px;
right:50px;
font-size:50px;
cursor:pointer;
}
